@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.rowClassName {
  background-color: red !important;
}

.ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner {
  background-color: #0490e7 !important;
  border-color: #0490e7 !important;
}
:where(.css-dev-only-do-not-override-1adbn6x).ant-checkbox-wrapper:not(
    .ant-checkbox-wrapper-disabled
  ):hover {
  border-color: #0490e7 !important;
}
.css-1k2u9zb-MuiChartsAxis-root {
  stroke: #e5e5e5;
  shape-rendering: crispEdges;
  stroke-width: 1;
}
.MuiChartsAxis-line {
  stroke: #e5e5e5;
  shape-rendering: crispEdges;
  stroke-width: 1;
}
.css-wn5hww-MuiLineElement-root {
  stroke-width: 6px !important;
  stroke: #2b8fca !important;
}
.css-a8rcf6-MuiLineElement-root {
  stroke-width: 6px !important;
  stroke: #40b553 !important;
}
.css-bfv7z6-MuiMarkElement-root {
  stroke-width: 0 !important;
}
.css-p94pjm-MuiMarkElement-root {
  stroke-width: 0 !important;
}
.css-1nj9716-MuiMarkElement-root {
  stroke-width: 0 !important;
}
.css-1r7dp5y-MuiMarkElement-root {
  fill: #40b553 !important;
  stroke-width: 1px !important;
}
.percentage-bar.cost {
  background-color: #40b553 !important;
}
.percentage-bar.power {
  background-color: #40b553 !important;
}
.profile_item {
  background-color: transparent !important;
  transition: all 0.2s !important;
}
.ant-dropdown-menu-item:hover,
.ant-dropdown-menu-item:hover .profile_item {
  color: rgb(32, 154, 195) !important;
}
.ant-modal {
  /* background-color: #050c20 !important; */
  border-radius: 10px !important;
}
.ant-modal-header {
  background-color: transparent !important;
}
.ant-modal-content {
  background-color: #0d131c !important;
  border-radius: 10px !important;
}
.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  border-right: 1px solid #36424e !important;
}
.anticon-search {
  color: #acacac !important;
}

.dynamic-delete-button {
  position: relative;
  /* top: 4px; */
  /* margin: 0 8px; */
  color: #999;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.3s;
  width: 40px;
  justify-content: center;
}
.dynamic-delete-button:hover {
  color: #777;
}
.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
.custom-label-color {
  color: white !important;
  width: 100% !important;
}
/* .form_list {
  background-color: yellow !important;
  width: 100% !important;
  margin-top: 100px;
} */

.ant-table-column-sorter {
  color: gray !important;
}
.required_power {
  background-image: linear-gradient(
    to right,
    #f5bf00 0%,
    #f5bf00 33.33%,
    #b57234 33.33%,
    #b57234 66.66%,
    #ffffff 66.66%,
    #ffffff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 23px !important;
  font-weight: 700;
  margin-top: 5px !important;
}
/* .react-vis-area {
  fill: none !important;
} */

.ant-progress-inner {
  border-radius: 10px !important;
}
.ant-progress-bg {
  border-radius: 10px !important;
}

.nsewdrag {
  fill: #0d131c !important;
}
/* .drag {
  fill: transparent !important;
} */
